@import '~bootstrap/scss/bootstrap';

*{
    margin: 0;
    font-family: 'Audiowide', display;
    color: orangered;
}
.my_card, .my-container{
    border: 2px solid orangered;
}
.time_box{
    background-color: orangered;
    color: #333;
}

body{
    background-color: #333;
}

div.home-background{
    margin: 0;
    height: 100vh;
    background-image: url(../img/Turkey-Train-Tickets-More_Depositphotos-bgremover_44339047_S.webp);
    background-size: cover;
    overflow: hidden;
    background-color: #333;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}
